/* * {
   
    color: white;
    align-items: center;
  }
   */
   strong {
    font-weight: 700;
  }
  
  /* ==== SIMPLE FOOTER ==== */
  
footer {
    /* display: table; */
    width: 100vw;
    height: 8rem;
    text-align: center;
    padding: 1rem;
    font-family: 'Arial', sans-serif;
    font-size: 1.0rem;
  }
  
  .wrapper {
    /* box-shadow: 0px 0px 5px 5px #00dfc4; */
    /* box-shadow:  inset 0px 11px 8px -10px #00dfc4, */
    /* inset 0px 0px 0px 0px #CCC; ; */
    background-image: linear-gradient(to right, #4d0099 0%, #2c84c5 51%,#ce22b3 100%);  
    display:flexbox;
    vertical-align: middle;
    margin-top:10%;
    padding: 25px;
}

footer small {
    color: #ccc;
    letter-spacing: .025rem;
    margin-bottom: 1.5rem;
    display: block;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    margin: 0 .5rem;
    padding-bottom: 5px;
    display: inline-block;
  }
  
  .footer-nav a:hover {
    color: #00dfc4;
    transition: color .15s ease-in-out;
  }
  
  
  