.card {
    background-color: rgb(232, 230, 230);
    padding: 0.85rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    min-width: 7rem;
    margin: 20px;
    position: relative;
    border-radius: 0px 30px;
}

.card__img {
    max-width: 50px;
    max-height: 78px;
    margin-right: 20px;
    float: left;
    position: relative;
    width: 70%;
    height: 165%;
}

.card__img img {
    width: 100%;
    position: relative;
}
