.color
{
    color: orange;
}
*{
    margin: 0%;
    padding: 0%;
}
 .contmain
{
    position: relative;
    margin: 9rem auto;
    margin-left: 20%;
    margin-right: 30%;
    
} 
.contmain h1{
    color: brown;
}