button {
    margin:25px 20px;
    text-decoration: none;
    border: none;
}
.btn16{
  font-weight: 500;
  text-transform: uppercase;
  margin: 10px;
  padding: 15px 35px;
  text-align: center;
  transition: 1s;
  background-size: 200% auto;
  color: white;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(to right, #9941b9 0%, #546ac1 51%, #9941b9 100%);
  letter-spacing: 0.2vh;
  left: 12%;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  /* box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.4); */
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  border: none;
  border-radius: 15px 20px;
}

.btn16:hover {
  transition-duration: 3ms;
  text-decoration: none;
  font-size: 17px;
  box-shadow:inset 2px 2px 2px 0px rgba(255, 255, 255, 0.603),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  border: none; 
  background-position: right center; 
}

/* .btn16 {
  width: 150px;
  height: 40px;
  font-size: 15px;
  color: black;
  background-color: linear-gradient(180deg, #F5487f, #1f306e);
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-weight: 900;
  background: transparent;
  letter-spacing: 0.5vh;
  left: 23%;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  border: none;
}
.btn16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
  -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
   transition: all 0.3s ease;
   text-decoration: none;
   border: none;
   border-radius: 6%;
  }
.btn16:hover {
  color: #fff;
  transition-duration: 2ms;
  text-decoration: none;
  font-size: 17px;
  direction: ltr;
  box-shadow:inset 2px 2px 2px 0px rgba(255, 255, 255, 0.603),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  border: none;
  border-radius: 6%;
}
.btn16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
  text-decoration: none;
  border: none;
}
.btn16:active {
  top: 2px;
  text-decoration: none;
  border: none;
} */